<!-- Validation failure messages -->
<% if @recommendation.errors.any? %>
  <% @recommendation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Recommendation</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form enctype="multipart/form-data" action="/create_recommendation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @recommendation.name %>">
      </div>

      <!-- Label and input for category -->
      <div class="form-group">
        <label for="category" class="control-label">
          Category
        </label>

      <%= select_tag(:category, options_for_select(["Hotel","Restaurant","Activity"], @recommendation.category), :class => "form-control") %>


      </div>

      <!-- Label and input for city_id -->
      <div class="form-group">
        <label for="city_id" class="control-label">
          City
        </label>

        <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :name, @recommendation.city_id), :class => "form-control") %>

        </div>

        <!-- Label and input for image -->
        <div class="form-group">
          <label for="image" class="control-label">
            Image
          </label>

          <input type="file" id="image" name="image" placeholder="Image" class="form-control" value="<%= @recommendation.image %>">
        </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @recommendation.notes %></textarea>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
<input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>


      <button class="btn btn-success">
        Create Recommendation
      </button>
      or
      <a href="/recommendations">Cancel</a>
    </form>
  </div>
</div>
