<div class="page-header">
  <h3><%= @recommendation.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Category</dt>
      <dd><%= @recommendation.category %></dd>

      <dt>City</dt>

      <dd><%= City.find_by(:id =>  @recommendation.city_id).name %></dd>

      <dt>Image</dt>
      <dd> <img src="<%= @recommendation.image %>"  width="300" ></dd>

      

      <dt>Notes</dt>
      <dd><%= @recommendation.notes %></dd>

      <dt>Likes</dt>
      <dd><%=Like.where(:recommendation_id => @recommendation.id).count %></dd>

    </dl>

    <div class="row">
      <div class="col-md-12">
        <form action="/create_like" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for recommendation_id -->
          <div class="form-group">

            <input type="hidden" id="recommendation_id" name="recommendation_id" placeholder="Recommendation" class="form-control" value="<%= @recommendation.id %>">
          </div>

          <!-- Label and input for user_id -->
          <div class="form-group">

            <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @recommendation.user_id %>">
          </div>

          <button class="btn btn-success">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          </button>

        </form>
      </div>
    </div>

<div></div>






    <div class="btn-group btn-group-justified">
      <a href="/recommendations" class="btn btn-primary">
        Back
      </a>
      <a href="/recommendations/<%= @recommendation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recommendation/<%= @recommendation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
